//@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');  :exemple, copier depuis google fonts>import
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway');
// h1 {
//     font-family: 'Raleway', sans-serif;
//     color: #fff;
//     font-size: 3.6em;
//     }

p{
    font-family: 'Raleway', sans-serif;
         
    font-size: 20px;
    color: #fff;
    line-height: 1.6em;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #212326;
    line-height: 1.6em;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: rgb(37, 37, 37);

}
